.experience-section {
  background: linear-gradient(to bottom right, #1e293b, #0f172a);
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.experience-section h2 {
  font-size: 2.5rem;
  margin-top: -10px;
  margin-bottom: 20px;
  color: #ff9900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.experience-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-header {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.company-logo {
  width: 80px; 
  height: 80px; 
  object-fit: contain;
  margin-bottom: 10px; 
  border-radius: 10px;
  background-color: rgb(238, 236, 236); 
  padding: 1px; 
  border: 3px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.experience-details {
  text-align: center;
  width: 100%;
}


.experience-details h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #ff9900;
}

.experience-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #cbd5e1;
}



.about-container {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-container:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.about-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-container li {
  margin-bottom: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: left;
  color: white;
  font-size: 1rem;
}

.about-container li:hover {
  background: #ff9900;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.about-list {
  margin-top: 10px;
  padding-left: 20px; /* Indent for bullet points */
  list-style: disc; /* Display bullet points */
}

.about-list li {
  margin-bottom: 5px; /* Spacing between bullet points */
  font-size: 0.9rem; /* Smaller font for the details */
  color: #d8cdcd; /* Light gray for readability */
}